<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioPPV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VoiceDispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </configSections>


  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="LogServicioSCK.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  
  <userSettings>
    <ServicioPPV.Properties.Settings>
      <setting name="IPSCK" serializeAs="String">
        <value>172.16.0.11</value>
      </setting>
      <setting name="PuertoSCK" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ConexionSQL" serializeAs="String">
        <value>Data Source=Ajusa-SQL\Ganimedes;Initial Catalog=datosajusa;User ID=sa</value>
      </setting>
      <setting name="CantMaxParametros" serializeAs="String">
        <value>15</value>
      </setting>
    </ServicioPPV.Properties.Settings>
  </userSettings>
</configuration>